# App config
PORT=3000
NODE_ENV=development

# Postgres DB URL (Matches docker-compose.yml)
DATABASE_URL="postgresql://nestuser:nestpassword@localhost:5432/ecommerce_db?schema=public"

# Redis Config (Matches docker-compose.yml)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Config
JWT_SECRET="super-secret-jwt-key"
